.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: rgba(33, 33, 35, 0.8);
}

.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background: var(--dark);
    z-index: 99;
    padding: 24px;
}

.title {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--light);
    text-align: center;
}

.close {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 9;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    stroke: var(--dark-sea);
}

.icon:hover {
    stroke: #fff;
}

.form {
    margin-top: 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 16px;
}

.group {
    display: inherit;
}

.group input {
    width: 100%;
    border-radius: 8px;
    padding: 12px 24px;
    color: var(--light);
    background: #212123;
}

.submit {
    background: var(--violet-dark);
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 500;
    line-height: 20px;
}

.link {
    font-size: 13px;
    color: var(--dark-sea);
    cursor: pointer;
    text-align: center;
}